*{
    padding: 2px;
    font-family: "Century Gothic", serif;
}

#container{
    margin-top: 50px;
    height: 10px;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.black, .white{
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: "Century Gothic", serif;
    border: 1px solid black;
    text-decoration: none;
    float: right;
    list-style-type: none;
    margin-left: 20px;
}

ul{
    margin-top: auto;
    margin-bottom: auto;
}

ul li{
    padding-left: 8px;
    padding-right: 8px;
    font-size: 15px;

}

.black{
    color: black;

}

.white{
    background-color: black;
    color: white;
}

.white:hover{
    background-color: white;
    color: black;
}

.black:hover{
    background-color: black;
    color: white;
}


#form{
    margin-top: 105%;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.logo img{
    float: left;
    width: 150px;
    height: auto;
}

.img{
    float: left;
}